# -----------------------------------------------------------------------------
# Project:        myOTP-Service
# File:           requirements.txt
# Author:         Christian Klose
# Email:          ghostcoder@gmx.de
# GitHub:         https://github.com/GhostCoder74/Set-Project-Headers (GhostCoder74)
# Copyright (c) 2025 Christian Klose
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This file is part of myOTP-Service.
# Do not remove this header.
# Header added by https://github.com/GhostCoder74/Set-Project-Headers
# -----------------------------------------------------------------------------

fastapi
uvicorn
pyotp
qrcode
pillow
mysql-connector-python
passlib[bcrypt]
python-multipart
