[Unit]
Description=OTP Service (FastAPI + PyOTP)
After=network.target

[Service]
Type=simple
User=otpuser
Group=otpuser
WorkingDirectory=/opt/otp-service
ExecStart=/opt/otp-service/venv/bin/uvicorn app:app --host 127.0.0.1 --port 38233 # <- word2port Halloween
Restart=on-failure
RestartSec=5

# Logs
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otp-service

[Install]
WantedBy=multi-user.target
