# -----------------------------------------------------------------------------
# Project:        myOTP-Service
# File:           otp-service.service
# Author:         Christian Klose
# Email:          ghostcoder@gmx.de
# GitHub:         https://github.com/GhostCoder74/Set-Project-Headers (GhostCoder74)
# Copyright (c) 2025 Christian Klose
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This file is part of myOTP-Service.
# Do not remove this header.
# Header added by https://github.com/GhostCoder74/Set-Project-Headers
# -----------------------------------------------------------------------------
[Unit]
Description=OTP Service (FastAPI + PyOTP)
After=network.target

[Service]
Type=simple
User=otpuser
Group=otpuser
WorkingDirectory=/opt/otp-service
ExecStart=/opt/otp-service/venv/bin/uvicorn app:app --host 127.0.0.1 --port 38233 # <- word2port Halloween
Restart=on-failure
RestartSec=5

# Logs
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otp-service

[Install]
WantedBy=multi-user.target
